<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />
    <target xsi:type="File"
            name="debugTarget"
            fileName="NLogs/debug.txt"
            encoding="utf-8"
            archiveAboveSize="10240000"
            maxArchiveFiles="1024"
            archiveFileName="NLogs/backup/debug.{#####}.txt"
            archiveNumbering="Sequence"
            keepFileOpen="true"
            layout="${logger} | ${level} | ${threadid} ${newline}[${date}]${message}${newline}${exception:format=ToString,StackTrace}" />

    <target xsi:type="File"
            name="errorTarget"
            fileName="NLogs/error.txt"
            encoding="utf-8"
            archiveAboveSize="1024000"
            maxArchiveFiles="1024"
            archiveFileName="NLogs/backup/error.{#####}.txt"
            archiveNumbering="Sequence"
            keepFileOpen="true"
            layout="${date} | ${logger} | ${level} | ${threadid} ${newline}${message}${newline}${exception:format=ToString,StackTrace}" />

    <target xsi:type="File"
            name="fileTarget"
            fileName="NLogs/log.txt"
            encoding="utf-8"
            archiveAboveSize="10240000"
            maxArchiveFiles="1024"
            archiveFileName="NLogs/backup/log.{#####}.txt"
            archiveNumbering="Sequence"
            keepFileOpen="true"
            layout="${logger} | ${level} | ${threadid} ${newline}[${date}]${message}${newline}${exception:format=ToString,StackTrace}" />

    <target xsi:type="ColoredConsole"
            name="consoleTarget"
            encoding="utf-8"
            layout="${logger} | ${level} | ${threadid} ${newline}[${date}]${message}${newline}${exception}" />

  </targets>

  <rules>
    <logger name="*" levels="Info" writeTo="fileTarget" />
    <logger name="*" levels="Warn,Error" writeTo="errorTarget" />
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="consoleTarget" />
  </rules>

</nlog>
